In [2]:
introduction= """"I'm here in kathmandu for bootcamptin"""#long sequence of string into triple quatotion
print(introduction)

"I'm here in kathmandu for bootcamptin

In [3]:
Num=2.5
intNum=int(num)

NameError: name 'num' is not defined

In [4]:
num=2
floatnum=float(num)
print(floatnum)

2.0

In [6]:
Num=3.54
intNum=int(Num)
print(intNum)

3

In [8]:
num=2+5i

SyntaxError: invalid decimal literal (995723923.py, line 1)

In [16]:
company="cordoroidhub":
for var in company:
    print(var)

SyntaxError: invalid syntax (3325467923.py, line 1)

In [17]:
var='data'
length=len(var)
var[length-1]

'a'

In [13]:
var="computerscience"
length=len(var)
var[3:9]

'puters'

In [15]:
var="bikash"
length=len(var)
var[ : 1 : ]

'b'

In [ ]:
i=1
while i<6:
    print(i)
    i += 1

In [ ]:
fruits = ["apple","banana","orange"]
for in x fruits
print(x)