In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('deaths_on_eight-thousanders.csv')
print(data)

            Date                  Name     Nationality  \
0     2023-07-27       Muhammad Hassan        Pakistan
1     2022-07-22         Matthew Eakin       Australia
2     2022-07-22       Richard Cartier          Canada
3     2022-07-21       Ali Akbar Sakhi     Afghanistan
4     2021-07-25            Rick Allen  United Kingdom
...          ...                   ...             ...
1073  2023-05-21       Ang Kami Sherpa           Nepal
1074  2023-05-25  Szilárd Suhajda [hu]         Hungary
1075  2023-05-25     Ranjit Kumar Shah           Nepal
1076  2023-05-26          Pieter Swart          Canada
1077  2023-06-03    Lhakpa Nuru Sherpa           Nepal

                                         Cause of death       Mountain
0                                               Unknown             K2
1                                                  Fall             K2
2                                                  Fall             K2
3                  Unknown, suspected altitude sickness             K2
4                                             Avalanche             K2
...                                                 ...            ...
1073                                               Fall  Mount Everest
1074        Disappeared (reportedly suffered from HACE)  Mount Everest
1075                                        Disappeared  Mount Everest
1076                                  Respiratory Event  Mount Everest
1077  Suffered from HAPE, later died in hospital due...  Mount Everest

[1078 rows x 5 columns]

In [4]:
print(data.head(5))

         Date             Name     Nationality  \
0  2023-07-27  Muhammad Hassan        Pakistan
1  2022-07-22    Matthew Eakin       Australia
2  2022-07-22  Richard Cartier          Canada
3  2022-07-21  Ali Akbar Sakhi     Afghanistan
4  2021-07-25       Rick Allen  United Kingdom

                         Cause of death Mountain
0                               Unknown       K2
1                                  Fall       K2
2                                  Fall       K2
3  Unknown, suspected altitude sickness       K2
4                             Avalanche       K2

In [5]:
print(data.tail(5))

            Date                  Name Nationality  \
1073  2023-05-21       Ang Kami Sherpa       Nepal
1074  2023-05-25  Szilárd Suhajda [hu]     Hungary
1075  2023-05-25     Ranjit Kumar Shah       Nepal
1076  2023-05-26          Pieter Swart      Canada
1077  2023-06-03    Lhakpa Nuru Sherpa       Nepal

                                         Cause of death       Mountain
1073                                               Fall  Mount Everest
1074        Disappeared (reportedly suffered from HACE)  Mount Everest
1075                                        Disappeared  Mount Everest
1076                                  Respiratory Event  Mount Everest
1077  Suffered from HAPE, later died in hospital due...  Mount Everest

In [6]:
print(data.describe())

              Date          Name Nationality Cause of death       Mountain
count         1078          1078        1076           1069           1078
unique         676          1053          73            181             14
top     2015-04-25  Ang Tshering       Nepal      Avalanche  Mount Everest
freq            17             3         240            276            331

In [7]:
print(data.isnull())

       Date   Name  Nationality  Cause of death  Mountain
0     False  False        False           False     False
1     False  False        False           False     False
2     False  False        False           False     False
3     False  False        False           False     False
4     False  False        False           False     False
...     ...    ...          ...             ...       ...
1073  False  False        False           False     False
1074  False  False        False           False     False
1075  False  False        False           False     False
1076  False  False        False           False     False
1077  False  False        False           False     False

[1078 rows x 5 columns]

In [8]:
print(data.isnull().sum())

Date              0
Name              0
Nationality       2
Cause of death    9
Mountain          0
dtype: int64

In [10]:
print(data.shape)

(1078, 5)

In [11]:
print(data.drop(['Date','Name'],axis=1).head())

      Nationality                        Cause of death Mountain
0        Pakistan                               Unknown       K2
1       Australia                                  Fall       K2
2          Canada                                  Fall       K2
3     Afghanistan  Unknown, suspected altitude sickness       K2
4  United Kingdom                             Avalanche       K2

In [12]:
print(data.drop([3],axis=0).head())

         Date             Name     Nationality  \
0  2023-07-27  Muhammad Hassan        Pakistan
1  2022-07-22    Matthew Eakin       Australia
2  2022-07-22  Richard Cartier          Canada
4  2021-07-25       Rick Allen  United Kingdom
5  2021-02-05      Ali Sadpara        Pakistan

                                     Cause of death Mountain
0                                           Unknown       K2
1                                              Fall       K2
2                                              Fall       K2
4                                         Avalanche       K2
5  Froze to death in storm, remains found July 2021       K2

In [21]:
print(data['Date'].max)

<bound method NDFrame._add_numeric_operations.<locals>.max of 0       2023-07-27
1       2022-07-22
2       2022-07-22
3       2022-07-21
4       2021-07-25
           ...
1073    2023-05-21
1074    2023-05-25
1075    2023-05-25
1076    2023-05-26
1077    2023-06-03
Name: Date, Length: 1078, dtype: object>

In [6]:
import matplotlib.pyplot as plt

In [1]:
plt.hist(data['Date'],bins=5,range(4.8,5))

SyntaxError: positional argument follows keyword argument (372987618.py, line 1)